@font-face {
  font-family: Golos;
  font-weight: normal;
  src: url(./fonts/Golos_Regular.ttf);
}

@font-face {
  font-family: Golos;
  font-weight: bold;
  src: url(./fonts/Golos_DemiBold.ttf);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #4f73cd;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

h1,
.filters {
  width: calc(220px * 6);
  margin: 10px auto;
}

h1 {
  padding: 0 5%;
  font: bold 36px Golos;
}

.filters {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  flex-wrap: wrap;
}

.filter {
  background: transparent;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  margin-right: 2rem;
  font: normal 16px Golos Arial;
  text-decoration: none;
  cursor: pointer;
  font-family: Golos;
}

.filter:hover {
  background: #a5beff;
}

.filter-active {
  background: #80a0f2;
}

.filters-mob {
  display: none;
}

.fa-angle-up {
  display: none;
}

.wrapper-inner {
  position: relative;
}

.swiper-wrapper {
  flex-direction: row !important;
  align-items: flex-end !important;
  width: calc(220px * 9) !important;
}

.swiper-container {
  width: calc(220px * 6);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  i.fa-times {
    display: none;
  }
  .swiper-slide {
    z-index: -1;
  }
}

/* --- TABLET --- */

@media (max-width: 1439px) {
  h1,
  .filters {
    width: calc(220px * 3);
  }
  .swiper-container {
    width: calc(220px * 3);
    margin-bottom: 50px;
  }
  .swiper-wrapper {
    width: calc(220px * 9) !important;
  }
  .swiper-pagination {
    display: flex !important;
    justify-content: space-around;
    bottom: -40px;
    left: 42%;
    width: 150px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* --- MOBILE --- */

@media (max-width: 767px) {
  h1 {
    width: calc(220px * 2);
  }
  .filters {
    display: none;
  }
  .filters-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(220px * 1.8);
    padding: 0;
    border-radius: 10px;
    border: none;
    height: 35%;
    margin: 5px 13% 0;
    padding: 10px 30px 10px 0;
    background-position-x: 95%;
  }

  .fa-angle-down,
  .fa-angle-up {
    font-size: 26px;
  }
  .slct {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-decoration: none;
    font: normal 16px Golos;
    color: #fff;
    width: 100%;
  }

  .slct.active {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }

  .drop {
    margin: 0;
    margin-left: -10px;
    padding: 0;
    width: calc(220px * 1.9);
    border: none;
    border-radius: 0 0 10px 10px;
    display: none;
    position: absolute;
    top: 100px;
    background: #254595;
    overflow: hidden;
    z-index: 9999;
  }

  .drop li {
    list-style: none;
    cursor: pointer;
    display: block;
    color: #444;
    padding: 15px 15px 15px 25px;
    background-position: 10px -119px;
  }

  .drop li:hover {
    background: #3259b9 !important;
  }

  .filter-active,
  .filter:hover {
    background: none !important;
  }
  .swiper-container {
    width: calc(220px * 2);
    height: 600px;
    margin-bottom: 50px;
  }
  .swiper-wrapper {
    width: calc(220px * 9) !important;
  }
  .swiper-slide {
    transition: width 400ms ease-in;
    align-self: baseline;
  }
  .swiper-slide.active {
    width: 390px !important;
    z-index: 9999 !important;
  }
  .swiper-slide.active .description {
    left: 0 !important;
    top: 270px;
    width: 390px;
  }
  .swiper-pagination {
    left: 35%;
  }
}

.swiper-slide {
  height: 250px !important;
  width: 170px !important;
  border-radius: 8px;
  padding: 10px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: 18px;
  background-size: cover !important;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.swiper-slide.active {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  align-items: center;
}

.swiper-slide:hover .slide-content {
  align-self: flex-end;
}

.slide-content {
  padding-left: 5px;
  font-family: Golos;
}

h3,
p {
  margin: 0;
}

.description {
  position: absolute;
  background-color: #254595;
  width: 440px;
  height: 250px;
  top: 0px;
  z-index: 9999;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}

.description-right {
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 8px 0 0 8px;
}

.description p {
  padding: 15px;
  font: normal 16px Golos;
  line-height: 140%;
}

.description button {
  margin-left: 15px;
  margin-top: 15px;
  padding: 13px 21px;
  background: transparent;
  border: solid 2px #fff;
  border-radius: 8px;
  color: #fff;
  font: bold 16px Golos;
}

.description button:hover {
  background: #0047fe;
  border-color: #0047fe;
}

i.fa-times {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: absolute;
  z-index: 1;
  top: 4%;
  right: 8%;
}

/* --- NAVIGATION --- */

.swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  width: var(--swiper-navigation-size) !important;
  border-radius: 50%;
  padding: 20px;
  outline: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgb(0, 71, 255);
}

.swiper-button-prev {
  left: 5% !important;
}

.swiper-button-next {
  right: 5% !important;
}

@media (max-width: 1580px) {
  .swiper-button-prev {
    left: 1% !important;
  }
  .swiper-button-next {
    right: 2% !important;
  }
}
